html {
    margin: 0;
    padding: 0;
    font-family: sans-serif, times-new-roman, times;
    height: 100%;
    width: 100%;
    font-size: 100%;
}

.Heading {
    /* NOTE: This margin must be the same used for all portfolios */
    margin-bottom: calc(4px + 2vw + 2vh);
}

/* ---------------------------------------------------- */
/* Template */

.flex-template {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.flex-template img {
    display: block;
    margin-bottom: calc(4px + 2vw + 2vh);
}

.flex-template img:hover {
    cursor: pointer;
}

.column-buffer {
    width: 11.5%;
    min-height: 1px;
}

.column-side {
    width: 22%;
}

.column-side img {
    width: 100%;
    height: auto;
}

.column-center {
    width: 26%;
    margin-left: calc(4px + 2vw + 2vh);
    margin-right: calc(4px + 2vw + 2vh);
}

.column-center img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 800px) {
  .flex-template {
      flex-direction: column;
      justify-content: center;
  }

  .column-side {
      width: 92%;
      margin-left: calc(4px + 1.5vw + 1.5vh);
      margin-right: calc(4px + 1.5vw + 1.5vh);
  }

  .column-center {
      width: 92%;
      margin: 0;
      margin-left: calc(4px + 1.5vw + 1.5vh);
      margin-right: calc(4px + 1.5vw + 1.5vh);
  }
}

/* Modal */


#modal-image {
    width: 100%;
    height: auto;
}

/* ---------------------------------------------------- */
/* Portfolio */

.Portfolio {
    font-size: calc(1em + 1.6vw + 1.6vh);
}

.flex-portfolio {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding-bottom: calc(4px + 2vw + 2vh);
}

.flex-portfolio-content {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.flex-portfolio-content a {
    text-decoration: none;
    color: navy;
}

.flex-portfolio-content a:hover {
    cursor: pointer;
    color: green;
}

column-center-portfolio {
    width: 40%;
}

/* ---------------------------------------------------- */
/* Workflow */

.Workflow {
    font-size: calc(0.1em + 2vw + 0.3vh);
}

.flex-workflow-top {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.column-buffer-workflow-top {
    width: 12%;
    min-height: 1px;
}

.column-center-workflow-top {
    width: 74%;
}

.column-center-workflow-top p {
    padding-bottom: calc(0.5em + 0.8vw + 0.8vh);
}

/* Two columns - one for image, other for text */
.workflow-gradient {
    background-image: linear-gradient(white, mintcream, aliceblue);
}

.workflow-gradient-alternate {
    background-image: linear-gradient(aliceblue, mintcream, white);
}

.flex-workflow-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-top: calc(0.9em + 0.8vw + 0.8vh);
    padding-bottom: calc(0.9em + 0.8vw + 0.8vh);
}

.column-buffer-workflow {
    width: 12%;
    min-height: 1px;
}

.column-workflow-content {
    width: 36%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.column-buffer-center {
    width: 3%;
}

.Workflow img {
    width: 95%;
    height: auto;
}

.flex-workflow-bottom {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: mintcream;
}

/* ---------------------------------------------------- */
/* Contact */

.Contact {
    font-size: calc(0.5em + 0.8vw + 0.8vh);
}

.Contact hr {
    border: 1.5px solid black;
}

.flex-contact {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: calc(1em + 1.5vw + 1.5vh);
    padding-bottom: calc(1em + 1vw + 1vh);
}

.flex-contact img {
    width: 60%;
    height: auto;
}

/* ---------------------------------------------------- */
/* Footer */

.Footer {
    background-color: aliceblue;
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
    height: 100%;
}

.flex-footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-top: calc(0.5em + 3vw + 3vh);
    padding-bottom: calc(0.5em + 3vw + 3vh);
}

.column-buffer-footer {
    width: 11.5%;
    min-height: 1px;
}

.column-center-footer {
    width: 75%;
}

.column-center-footer a {
    color: black;
    font-size: calc(0.5em + 2vw);
    text-decoration: none;
}

.column-center-footer a:hover {
    color: green;
}